1. Preparación del entorno

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 39.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

2.- Instalación de un servidor de BBDD relacional

In [2]:
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:

3.- Iniciando el servidor de MySQL

4.- Instalación segura

In [6]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

5.- Conexión a MySQL y creación de tablas

In [11]:
import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Crear un cursor para interactuar con el servidor MySQL
cursor = conn.cursor()

# Creación de una nueva base de datos 'meteoDB'
cursor.execute("CREATE DATABASE IF NOT EXISTS meteoDB")

# Se hace 'USO' de la BBDD 'meteoDB
cursor.execute("USE meteoDB")

# Crear la tabla 'weatherStation' y 'weatherData'

cursor.execute('''
CREATE TABLE IF NOT EXISTS weatherStation (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    province VARCHAR(255) NOT NULL,
    latitude FLOAT,
    longitude FLOAT
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS weatherData (
    id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE NOT NULL,
    avgAirTemperature FLOAT,
    precipitation FLOAT,
    minAirTemperature FLOAT,
    maxAirTemperature FLOAT,
    station_id INT,
    FOREIGN KEY (station_id) REFERENCES weatherStation(id)
);
''')

cursor.close()
conn.close()

6.- Consultas SQL

In [4]:
import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')

cursor = conn.cursor()

cursor.execute("DELETE FROM weatherData")
cursor.execute("DELETE FROM weatherStation")

stations = [
    ('100', 'MANRESA','BARCELONA',41.72, 1.84),
    ('200', 'PORQUERES','GIRONA',42.10, 2.76),
    ('300','PORQUERES','GIRONA',42.10, 2.76),
    ('400', 'BARCELONA, FABRA','BARCELONA',41.41, 2.12)
]

cursor.executemany('''
INSERT INTO weatherStation (id, name, province, latitude, longitude)
  VALUES   (%s, %s, %s, %s, %s)
''', stations)


data = [
    ( '2023-11-10', '18.1', '0', '11.4', '24.8', '100'),
    ( '2023-11-11', '13.5', '0', '7.8', '19.2', '200'),
    ( '2023-11-12', '13.4', '0', '8.8', '18.1', '200'),
    ( '2023-11-13', '18.1', '20', '19.4', '24.8', '300'),
    ( '2023-11-14', '13.6', '5', '9.9', '19.2', '300'),
    ( '2023-11-15', '12.4', '6', '6.7', '20.3', '300')
]

cursor.executemany('''
INSERT INTO weatherData  (date, avgAirTemperature, precipitation, minAirTemperature, maxAirTemperature, station_id)
  VALUES   (%s, %s, %s, %s, %s, %s)
''', data)

conn.commit()


cursor.close()
conn.close()

In [20]:

import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')


# Crear un cursor para interactuar con el servidor MySQL
cursor = conn.cursor()
cursor.execute("SELECT *  FROM weatherStation ")
records = cursor.fetchall()


for record in records:
    print(record)

(100, 'MANRESA', 'BARCELONA', 41.72, 1.84)
(200, 'PORQUERES', 'GIRONA', 42.1, 2.76)
(300, 'PORQUERES', 'GIRONA', 42.1, 2.76)
(400, 'BARCELONA, FABRA', 'BARCELONA', 41.41, 2.12)

In [21]:
import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')


# Crear un cursor para interactuar con el servidor MySQL
cursor = conn.cursor()

cursor.execute("SELECT *  FROM weatherData")
records = cursor.fetchall()

for record in records:
    print(record)

(6, datetime.date(2023, 11, 10), 18.1, 0.0, 11.4, 24.8, 100)
(7, datetime.date(2023, 11, 11), 13.5, 0.0, 7.8, 19.2, 200)
(8, datetime.date(2023, 11, 12), 13.4, 0.0, 8.8, 18.1, 200)
(9, datetime.date(2023, 11, 13), 18.1, 20.0, 19.4, 24.8, 300)
(10, datetime.date(2023, 11, 14), 13.6, 5.0, 9.9, 19.2, 300)
(11, datetime.date(2023, 11, 15), 12.4, 6.0, 6.7, 20.3, 300)

In [22]:
import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')


# Crear un cursor para interactuar con el servidor MySQL
cursor = conn.cursor()

# Ejecutar la query
cursor.execute("SELECT *  FROM weatherData where station_id = 300")

records = cursor.fetchall()

# Resultado de la consulta
for record in records:
    print(record)

(9, datetime.date(2023, 11, 13), 18.1, 20.0, 19.4, 24.8, 300)
(10, datetime.date(2023, 11, 14), 13.6, 5.0, 9.9, 19.2, 300)
(11, datetime.date(2023, 11, 15), 12.4, 6.0, 6.7, 20.3, 300)

In [9]:
import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')


cursor = conn.cursor()
cursor.execute("SELECT *  FROM weatherStation s, weatherData d WHERE s.id = d.station_id")
records = cursor.fetchall()

for record in records:
    print(record)

(100, 'MANRESA', 'BARCELONA', 41.72, 1.84, 6, datetime.date(2023, 11, 10), 18.1, 0.0, 11.4, 24.8, 100)
(200, 'PORQUERES', 'GIRONA', 42.1, 2.76, 7, datetime.date(2023, 11, 11), 13.5, 0.0, 7.8, 19.2, 200)
(200, 'PORQUERES', 'GIRONA', 42.1, 2.76, 8, datetime.date(2023, 11, 12), 13.4, 0.0, 8.8, 18.1, 200)
(300, 'PORQUERES', 'GIRONA', 42.1, 2.76, 9, datetime.date(2023, 11, 13), 18.1, 20.0, 19.4, 24.8, 300)
(300, 'PORQUERES', 'GIRONA', 42.1, 2.76, 10, datetime.date(2023, 11, 14), 13.6, 5.0, 9.9, 19.2, 300)
(300, 'PORQUERES', 'GIRONA', 42.1, 2.76, 11, datetime.date(2023, 11, 15), 12.4, 6.0, 6.7, 20.3, 300)

In [18]:
import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')


# Crear un cursor para interactuar con el servidor MySQL
cursor = conn.cursor()

cursor.execute('''
SELECT s.name,
  AVG(avgAirTemperature) AS avgAvgAirTemperature,
  AVG(precipitation) AS avgPrecipitation,
  AVG(minAirTemperature) AS avgMinAirTemperature,
  AVG(maxAirTemperature) AS avgMaxAirTemperature
  FROM weatherStation s, weatherData d
  GROUP BY s.name;
''')

records = cursor.fetchall()

for record in records:
    print(record)

('BARCELONA, FABRA', 14.850000063578287, 5.166666666666667, 10.666666507720947, 21.06666660308838)
('PORQUERES', 14.850000063578287, 5.166666666666667, 10.666666507720947, 21.06666660308838)
('MANRESA', 14.850000063578287, 5.166666666666667, 10.666666507720947, 21.06666660308838)

In [2]:
import mysql.connector

# Crear una conexión al servidor MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')

# Crear un cursor para interactuar con el servidor MySQL
cursor = conn.cursor()

# borrar las tablas
cursor.execute('''
DROP TABLE IF EXISTS weatherData;
DROP TABLE IF EXISTS weatherStation;
''')

cursor.close()
conn.close()

In [19]:
import pandas as pd

# Connect to MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='meteoDB')

# Fetch data into a pandas DataFrame
query = "SELECT * FROM weatherData"
df = pd.read_sql(query, conn)

print(df.info())

print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 6 non-null      int64
 1   date               6 non-null      object
 2   avgAirTemperature  6 non-null      float64
 3   precipitation      6 non-null      float64
 4   minAirTemperature  6 non-null      float64
 5   maxAirTemperature  6 non-null      float64
 6   station_id         6 non-null      int64
dtypes: float64(4), int64(2), object(1)
memory usage: 464.0+ bytes
None
   id        date  avgAirTemperature  precipitation  minAirTemperature  \
0   6  2023-11-10               18.1            0.0               11.4
1   7  2023-11-11               13.5            0.0                7.8
2   8  2023-11-12               13.4            0.0                8.8
3   9  2023-11-13               18.1           20.0               19.4
4  10  2023-11-14               13.6            5.0                9.9

   maxAirTemperature  station_id
0               24.8         100
1               19.2         200
2               18.1         200
3               24.8         300
4               19.2         300

<ipython-input-19-2d3e21e06913>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)